html{
  background: url("../images/img2.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.container{
   width: 70%;
   margin: 0 auto;
}
.nav{
  background-color: transparent;
  margin: 0;
  overflow: hidden;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav li {
  display: inline-block;
  list-style-type: none;
}

.nav a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1em 3em;
  text-decoration: none;
}

.nav a:hover {
  background-color: red;
}

.nav a.active {
  color: yellow;
}

.nav li.logo{
  margin-right: auto;
  pointer-events: none;
}

/*
@media screen and (min-width: 60px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 80px;
    line-height: 70px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
  }
}
*/
/*
.slides img{
    width: 70%;
    margin: auto;
    border-style: solid;
  }

.block ul,li{
  margin: 0;
  padding: 0 0 0 15px;
}

.block {
  margin: auto;
  float: left;
  margin: 0 20px 0 0;
}*/
