html{
  background: url("../images/img2.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.container{
   width: 70%;
   margin: 0 auto;
}
.nav{
  background-color: black;
  margin: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav li {
  display: inline-block;
  list-style-type: none;
}

.nav a {
  color: white;
  display: block;
  line-height: 2em;
  padding: 1em 3em;
  text-decoration: none;
}

.nav a:hover {
  background-color: red;
}

.nav a.active {
  color: yellow;
}

.nav li.logo{
  margin-right: auto;
  pointer-events: none;
}

.box1{
  background-color: #d5e1df;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  width: auto;
  height: auto;
  padding: 20px auto;
}
.content{
  padding-left: 10px;
}

.flex-container {
  display: flex;
  background-color: inherit;
}
.flex-container>div {
  background-color: grey;
  flex-basis: 200px;
  margin: 20px;
  padding:10px;
  height: 160px;
}
.currencies{
  width: 150px;
}
.about-container{
  display: flex;
  height: 90 vh;
}
.left{
  width: 220px;
  background-color: #d5e1df;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
}
.right{
  flex-grow: 1;
  background-color: #d5e1df;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 10px;
  display: none;
}
